@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    font-family: Inter;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  padding: 1rem 1.5rem;
background-color: #f6fff0cb;
}

.heroContent {
  flex: 1;
  max-width: 42rem;

  margin: 0 5rem;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  color: #111827;
  margin-bottom: 1.5rem;
  line-height: 1.2;
  font-family: Inter;

}

.subtitle {
  font-size: 1.25rem;
  color: #4B5563;
  margin-bottom: 2rem;
  line-height: 1.7;
}

.ctaContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

.primaryButton {
  padding: 0.75rem 2rem;
  background-color: #91CA6B;
  color: #31473A;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.primaryButton:hover {
  background-color: #abeb7d;
  scale: 1.01;
}

.secondaryButton {
  padding: 0.75rem 2rem;
  border: 2px solid #91CA6B;
  color: #8fd361;
  border-radius: 0.5rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.secondaryButton:hover {
  background-color: #ffffff00;
    scale: 1.01;
}

.stats {
  display: flex;
  gap: 3rem;
}

.statItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statNumber {
  font-size: 1.875rem;
  font-weight: 700;
  color: #31473A;
  margin-bottom: 0.25rem;
}

.statLabel {
  font-size: 0.875rem;
  color: #4B5563;
}

.heroImage {
  flex: 1;
  position: relative;
}

.dashboardImage {
  width: 100%;
  max-width: 42rem;
  border-radius: 0.5rem;

}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .heroContent {
    padding: 0;
    max-width: 100%;
    margin-bottom: 3rem;
  }

  .ctaContainer {
    justify-content: center;
  }

  .stats {
    justify-content: center;
  }

  .heroImage {
    width: 100%;
    max-width: 42rem;
  }
}
